body,
html {
  margin: 0;
}

#logs {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100%;
  width: 100%;
}

#threejs-app {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow: hidden;
  position: relative;

  #threejs-container {
    position: absolute;
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    // background-color: lightgray;
  }
  #threejs-overlay {
    position: absolute;
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.1);
  }
}

.spacer {
  height: 10vh;
  width: 100%;
  box-sizing: border-box;

  padding: 1rem;

  &.top {
    text-align: center;
    #allow-logs {
      font-size: 3rem;
      // width: 15rem;
      height: 5rem;
    }
  }
  &.bottom {
    // flex
    display: inline-flex;
    justify-content: space-around;
    gap: 1rem;

    #start-button {
      font-size: 2rem;
      width: 15rem;
      height: 5rem;
    }
  }
}
